site_name: Your Project

site_url: https://<user>.github.io/<repo>/  

theme:
  name: material

docs_dir: docs

nav:
  - Home: index.md
  - Documentation:
      - Overview: docs/index.md
  - Notes:
      - Overview: notes/index.md

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.highlight

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

